/*  页面顶部的样式    */

body{
	font-family:'Microsoft Yahei';
	font-size:14px;
}


.header_con{
	height:29px;
	background-color:#f7f7f7;
	border-bottom:1px solid #ddd;
}

.header{
	width:1200px;
	height:29px;
	margin:0 auto;
}


.welcome{
	font-size:12px;
	color:#666;
	line-height:29px;
}

.user_con{
	/* background-color:gold; */
}


.user_info{
	display:none;
	font-size:12px;
	line-height:29px;
	color:#666;
}

.user_info em{
	color: #f80
}


.login_btns li,.user_btns li{
	float:left;
	height:29px;
}

.login_btns a,.login_btns span,.user_btns a,.user_btns span{
	display:block;
	line-height:29px;
	font-size:12px;
	color:#666;
}

.login_btns span,.user_btns span{
	color:#cecece;
	margin:0 10px;
}

.login_btns a:hover,.user_btns a:hover{
	color:#f80;
}


/*  logo、搜索框、购物车的样式    */
.center_con{
	width:1200px;
	height:115px;
	margin:0 auto;
}

.logo{
	margin:29px 0 0 17px;
}

.search_con{
	width:616px;
	height:38px;
	margin:34px 0 0 124px;
	border:1px solid #37ab40;
	background:url(../images/icons.png) 10px 10px no-repeat;
}

.search_con .input_txt{
	margin-left:36px;
	width:480px;
	height:38px;
	border:0px;

    /* 去掉获得焦点时显示的蓝色的框   */
	outline:none;

}


.search_con .input_sub{
	width:100px;
	height:38px;
	background-color:#37ab40;
	border:0px;
	font-size:14px;
	color:#fff;

    /* 将鼠标的形状设置为手型   */
	cursor:pointer;
}

.chart_con{
	width:200px;
	height:40px;
	margin-top:34px;
}

.chart_link{
	width:158px;
	height:38px;
	border:1px solid #ddd;
	background:url(../images/icons.png) 12px -42px  no-repeat #f7f7f7;
	text-indent:56px;
	line-height:38px;
	font-size:14px;
	color:#37ab40
}

.chart_num{
	width:40px;
	height:40px;
	background-color:#f80;
	text-align:center;
	font:bold 18px/40px 'Microsft Yahei';
	color:#fff;
}



